/* Top  */
.home-content .cadastro .cadastrar-clientes {
    width: 80%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.cadastro .cadastrar-clientes li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;

}


/*Bottom*/
.home-content .cadastro {
    display: flex;
    justify-content: space-between;
}

.home-content .cadastro .cadastro-recente {
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .cadastro .cadastro-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cadastro .box .title {
    font-size: 24px;
    font-weight: 500;
}

.cadastro .cadastro-details li.topic, .cadastro .cadastrar-clientes-details li.topic {
    font-size: 20px;
    font-weight: 500;
}

.cadastro .cadastro-details li {
    list-style: none;
    margin: 8px 0;

}

.cadastro .cadastro-details li a {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

.cadastro .box .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cadastro .box .button a {
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.cadastro .box .button a:hover {
    background: #0d3073;
}

/* Responsive media query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section {
        left: 220px;
        width: calc(100% - 220px);
        overflow: hidden;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media (max-width: 1150px) {
    .home-content .cadastro {
        flex-direction: column;
    }

    .home-content .cadastro .box {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 20px;
    }

}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }

    .home-content .cadastro .cadastro-details {
        width: 560px;
    }
}


@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }

    .sidebar.active {
        width: 60px;
    }

    .home-section {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }

    .home-section nav {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
}