*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(to top, rgba(255, 255, 0, 0.39), rgba(255, 0, 0, 0.466));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

fieldset{
    display: inline;
    border: none;
}

h1{
    background: orangered;
    color: white;
}

h2{
    margin-top: 3px;
}

.form{
    background: rgba(255, 69, 2, 0.26);
    min-width: 500px;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25vh;
}

label{
    display: block;
    margin-top: 5px;
}

input, select{
    border-radius: 10px;
    height: 30px;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: sans-serif;


}

input[type="submit"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
}

input[type="button"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;

}

input[type="radio"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;

}

input[type="submit"]:hover{
    background: orangered;
    color: white;
}

input[type="button"]:hover{
    background: orangered;
    color: white;
}

input:focus, select:focus{
    background-color: wheat;
}

